<!-- Controles de paginación -->
<div class="container mt-4 mb-5">
  <div
    class="pagination-controls-v2 d-flex flex-column flex-md-row justify-content-between align-items-center p-3"
  >
    <!--Información de Resultados -->
    <div class="pagination-info mb-2 mb-md-0 me-md-4 text-center text-md-start">
      Mostrando
      <span class="fw-bold">{{ (currentPage - 1) * pageSize + 1 }}</span>
      -
      <!-- Usamos Math.min para que no muestre un número mayor al total de items -->

      <span class="fw-bold">{{ Math.min(currentPage * pageSize, totalItems) }}</span>
      de
      <span class="fw-bold">{{ totalItems }}</span> resultados
    </div>

    <!--Botones de Navegación -->
    <div class="pagination-buttons d-flex align-items-center me-md-4 mb-2 mb-md-0">
      <button
        class="btn btn-pagination-nav"
        [disabled]="currentPage === 1"
        (click)="onIrAPagina(currentPage - 1)"
      >
        <i class="bi bi-arrow-left"></i> Anterior
      </button>

      <span class="page-indicator mx-3">
        Página
        <span class="fw-bold">{{ currentPage }}</span>
        de
        <span class="fw-bold">{{ totalPages }}</span>
      </span>

      <button
        class="btn btn-pagination-nav"
        [disabled]="currentPage === totalPages || totalItems === 0"
        (click)="onIrAPagina(currentPage + 1)"
      >
        Siguiente <i class="bi bi-arrow-right"></i>
      </button>
    </div>

    <!--Selector de Tamaño de Página -->
    <div class="d-flex align-items-center">
      <label for="pageSizeSelect" class="form-label mb-0 me-2 d-none d-md-block text-nowrap"
        >Por página:</label
      >
      <select
        id="pageSizeSelect"
        class="form-select form-select-sm page-size-select"
        [(ngModel)]="pageSize"
        (ngModelChange)="onCambiarTamanoPagina($event)"
      >
        <option [value]="9">9</option>
        <option [value]="10">10</option>
        <option [value]="20">20</option>
        <option [value]="50">50</option>
      </select>
    </div>
  </div>
</div>
