
/*PAGINACIÓN*/

/* Información de Resultados (Mostrando 1-9 de X) */
.pagination-info .fw-bold {
  color: var(--color-vino);
}

/* Botones de Navegación */

.btn-pagination-nav {
  /* Estilo base del botón */
  border: none;
  font-weight: 700;
}

.btn-pagination-nav:hover {
  background-color: #f97b923c;
  color: var(--color-vino);
}
.btn-pagination-nav:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  border-color: none;
}
.btn-pagination-nav .bi {
  font-size: large;
}

/* Indicador de Página (Página X de Y) */
.page-indicator .fw-bold {
  color: var(--color-vino);
}

/* Selector de Tamaño de Página-cuantos mostrar por pagina */
.page-size-select {
  cursor: pointer;
  color: var(--color-vino);
  font-weight: 700;
  border: 1px solid var(--color-vino);
  width: 70px !important; /* Ancho fijo para el select */
  background-position: right 0.75rem center;
  background-size: 16px 12px;
}
.page-size-select:focus {
  border-color: var(--color-vino);
  box-shadow: 0 0 0 0.25rem rgba(181, 18, 48, 0.25);
}