:root {
  /* PALETA DE COLORES  */
  --color-vino: #850e35; /* vino */
  --color-vino-oscuro: #670727; /* vino (Hover/Active) */
  --color-vino-claro: #a22b51; 


  --color-rosado-bebe: #ffc4c4; /* rosado bajito */
  --color-rosado: #ee6983; /* rosado encendido */

  --color-rojo: #dc3545; /* rojo inactivo*/
  --color-rojo-oscuro: #c82333; /* rojo inactivo*/

  --color-verde: #28a745; /*verde activo*/
  --color-verde-oscuro: #1e7e34; /*verde activo hover*/

 
  --color-grey: #cdcdcd; /* Gris Claro */
  --color-grey-dark: #959595; /* Gris Medio */
  --color-background: #f8f9fa; /* Fondo Global */
}
