.card-container-wide {
  width: 900px;
  max-width: 95%;
}

.subtitulo strong {
  color: var(--color-vino);
}

.label-inline {
  display: flex;
  align-items: center;
  gap: 4px;     
}

.form-group {
  min-height: 130px;
}


.section-title {
  color: var(--color-vino-claro);
  font-weight: 700;
  font-size: 1.25rem;

  display: block;
  width: 100%;

  padding-bottom: 6px;
  margin-top: 25px;
  margin-bottom: 10px; 

  border-bottom: 2px solid rgba(133, 14, 53, 0.25);
}


input.form-control,
textarea.form-control {
  font-size: 0.95rem;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
